.font-family-sans-serif {
    font-family: $font-family-sans-serif !important;
}

.font-family-sans-serif-round {
    font-family: $headings-font-family !important;
}

.font-family-condensed {
    font-family: $condensend-font-family !important;
    font-size: 1.3rem;
}
